.test {
  display: inline-block;
  vertical-align: middle;
  margin: 2em auto;
  padding: 0;
  text-align: center;
}

.test li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.test li button {
  border: none;
  background: var(--bar-color);
  color: transparent;
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.test .slick-active button {
  background: var(--decoration-color);
}

.test li button:hover,
.test li button:focus {
  background: var(--decoration-color);
  outline: 0;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}
