@import "../../styles/index.scss";

.contact {
  background-color: var(--bg-color);

  .card {
    .contactTitle {
      margin-top: 2em;
    }

    .container {
      .content {
        .head {
          margin-top: 1em;
          line-height: 1.5rem;

          .subtitle {
            font-weight: 200;
            font-size: 0.9rem;
            font-style: italic;
            padding-bottom: 1rem;
          }
        }

        .text {
          font-weight: 300;
          font-size: 0.9rem;
          line-height: 1.2rem;
          text-justify: inter-word;
        }

        & .network {
          margin: 2rem 0;
          display: flex;
          justify-content: space-around;
          width: 200px;

          & svg {
            width: 24px;
            height: 24px;

            & path {
              fill: var(--text-color);
            }
          }
        }
      }
    }
  }

  .copyright {
    margin: 2.5rem 0;
    padding: 2rem 0;
    font-size: 0.6rem;
    text-align: center;

    & span {
      color: red;
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .contact {
    height: 100vh;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card {
      background-color: var(--hover-color);
      width: 100%;
      padding: 0 5em;
      align-items: center;
      border-radius: 10px;
      color: var(--bg-color);
      margin: auto;

      .container {
        display: flex;
        flex-direction: row;

        .content {
          padding: 2rem;
          width: 50%;

          .network {
            height: 50px;
            svg {
              width: 28px;
              height: 28px;
              path {
                fill: var(--bg-color);
              }
            }
            svg:hover path {
              fill: var(--hoverContact-color);
            }
          }
        }
      }
    }
  }

  .copyright {
    margin: 0;
  }
}
