.theme-light {
  --text-color: #0a1b1b;
  --bg-color: #fff;
  --hover-color: #0a1b1b;
  --scroll-color: #162521;
  --decoration-color: #9eefe5;
  --shadow-color: rgb(226, 226, 226);
  --bar-color: #c0e0de;
  --progress-color: #0a1b1b;
}

.theme-dark {
  --text-color: #fff;
  --bg-color: #0a1b1b;
  --hover-color: #9eefe5;
  --scroll-color: #050f0f;
  --decoration-color: #9eefe5;
  --shadow-color: #091d1d;
  --bar-color: #465555;
  --progress-color: #9eefe5;
}
