@import "../../styles/index.scss";

.about {
  background-color: var(--bg-color);
}

.head {
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.illustration {
  display: flex;
  justify-content: center;

  & .picture {
    width: 500px;
    height: auto;
    border-radius: 10px;
  }
}

.content {
  margin-top: 1rem;

  & .subtitle {
    text-align: center;
  }
  & .text {
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-justify: inter-word;
  }
  & .stats {
    display: none;
  }
}

.button {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 100%;
    align-items: center;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "illustration head"
      "illustration content"
      "illustration button";
    & .head {
      margin: auto;
      grid-area: head;
    }
    & .illustration {
      width: 450px;
      height: 250px;
      grid-area: illustration;
    }
    & .content {
      grid-area: content;

      & .text {
        font-size: 1.1rem;
        line-height: 1.3rem;
        margin-top: 1em;
      }
      & .stats {
        height: 70px;
        margin: 2rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        & .number {
          margin-bottom: 1rem;
          font-weight: 500;
        }
      }
    }
    & .button {
      grid-area: button;
    }
  }
}
