@import "../../styles/index.scss";

.form {
  padding: 1em 0;
  display: flex;
  flex-direction: column;

  .label {
    margin: 0 auto 0.5em;
    width: 95%;
  }

  .formInput {
    margin: 1em auto;
    background-color: white;
    border: 2px #323232;
    border-style: none none solid;
    width: 95%;
  }

  .btn {
    all: unset;
    width: 37%;
    padding: 1em;
    margin: 1em auto;
    background-color: var(--decoration-color);
    color: #000;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }
}
