@import "../../styles/index.scss";

.header {
  background-color: var(--bg-color);
}

.head {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.network {
  height: 100px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & svg path {
    fill: var(--text-color);
  }
}

.avatar {
  & .picture {
    width: 225px;
    height: auto;
  }
}

.content {
  margin: 3.5rem 0;

  & .subtitle {
    padding-top: 2rem;
  }
}

.button {
  margin-left: 2em;
}
